/* Estilos del pie de página */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }