/* Estilos del encabezado */
header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  nav {
    margin: 10px 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }